body{
    background-color: rgb(177, 201, 238);
}

.dog{
    color: rgb(190, 44, 178);
    text-align: center;

}

a{
    color: rgb(130, 72, 255);
    text-decoration: none;
}

.container{
    text-align:center;
    
}

.texto-pg2{
    color:brown;
    text-align:initial;
}

.texto-inicio{
    color: brown;
    text-align:center;
}

.texto-pg3{
    color:brown;
    text-align:initial;
}

.texto-pg4{
    color:brown;
    text-align:initial;
}

.texto-pg5{
    color:brown;
    text-align:initial;
}

